<div>
    <h1>Productos</h1>
</div>

<p id="realProducts"></p>

<form action="" >
    Producto: <input type="text" id="producto"><br>
    Stock: <input type="text" id="stock"><br>
    <input id="submit" type="button" value="Agregar Producto">
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>